<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1014959757728-aujl4on49mp7bnejcb4rev0oioc6qvrf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1014959757728-aujl4on49mp7bnejcb4rev0oioc6qvrf</string>
	<key>API_KEY</key>
	<string>AIzaSyD3paJ4mlLApUCqVHdeNJFk-nuOuqZx5Zo</string>
	<key>GCM_SENDER_ID</key>
	<string>1014959757728</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CubstartTeam11.iDecide</string>
	<key>PROJECT_ID</key>
	<string>idecide-1d668</string>
	<key>STORAGE_BUCKET</key>
	<string>idecide-1d668.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1014959757728:ios:d0dcdbc7e9f0b197a1acc5</string>
</dict>
</plist>